button {
  width: 300px;
}

#btn-dark {
  width: 350px;
}


.card {
  margin: 10px;
}

#nbrShow {
  margin-bottom: 10px;
}
#btnClose{
  width: 30px;
  background-color: #ffffff;
  border: none;
}
#btnpdf{
  width: 200px;
  margin-bottom: 5px;
}
.close{
  width: 30px;
  background-color: #ffffff;
  border: none;
}
#btnpdf{
  width: 200px;
  margin-bottom: 5px;
}
