<div class="countainer">
  <div class="card">
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-md-4">
            <label for="dossieri" class="form-label">Dossier</label>
            <input
              list="dossier"
              id="dossieri"
              name="dossier"
              class="form-control"
              [(ngModel)]="plainte.dossier.nom"
              required
              #dossier="ngModel"
            />
            <datalist id="dossier">
              <option *ngFor="let d of dossiers">{{ d.nom }}</option>
            </datalist>
            <div class="text-danger" *ngIf="dossier.touched && !dossier.valid">
              <div *ngIf="dossier.errors?.required">**choisir une dossier</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="numero-ordre" class="form-label">Numero d'ordre</label>
            <input
              type="text"
              id="numero-ordre"
              name="numero-ordre"
              placeholder="numero d'ordre"
              class="form-control"
              [(ngModel)]="plainte.numeroDOrdre"
              required
              #numOrdre="ngModel"
            />
            <div
              class="text-danger"
              *ngIf="numOrdre.touched && !numOrdre.valid"
            >
              <div *ngIf="numOrdre.errors?.required">
                **veuillez saisir un numero d'ordre
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <label for="date-plainte" class="form-label">Date Plainte</label>
            <input
              type="date"
              id="date-plainte"
              name="date-plainte"
              placeholder="date plainte"
              class="form-control"
              [(ngModel)]="plainte.datePlainte"
            />
          </div>
          <div class="col-md-4">
            <label for="objet-plainte" class="form-label">Objet Plainte</label>
            <input
              type="text"
              id="objet-plainte"
              name="objet-plainte"
              placeholder="objet plainte"
              class="form-control"
              [(ngModel)]="plainte.objet"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="publie" class="form-label">Publie</label>
            <input
              type="date"
              id="publie"
              placeholder="publie"
              class="form-control"
              name="publie"
              [(ngModel)]="plainte.publie"
            />
          </div>
          <div class="col-md-4">
            <label for="dividion" class="form-label">Division</label>
            <select
              name="division"
              class="form-select"
              id="dividion"
              [(ngModel)]="plainte.division.ref"
              required
              #division="ngModel"
            >
              <option *ngFor="let d of divisions">{{ d.nomDivision }}</option>
            </select>
            <div
              class="text-danger"
              *ngIf="division.touched && !division.valid"
            >
              <div *ngIf="division.errors?.required">
                **veuillez choisir la division concernet
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <label for="dateEnvoi" class="form-label">Date Envoi</label>
            <input
              type="date"
              id="dateEnvoi"
              name="dateEnvoi"
              placeholder=""
              class="form-control"
              [(ngModel)]="plainte.dateEnvoi"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="expediteur" class="form-label">Expediteur</label>
            <input
              type="text"
              id="expediteur"
              name="expediteur"
              placeholder="expediteur"
              class="form-control"
              [(ngModel)]="plainte.expediteur"
            />
          </div>
          <div class="col-md-4">
            <label for="numeroEnvoi" class="form-label">Numero d'envoi</label>
            <input
              type="text"
              id="numeroEnvoi"
              name="numeroEnvoi"
              placeholder="numero d'envoi"
              class="form-control"
              [(ngModel)]="plainte.numeroEnvoi"
            />
          </div>
          <div class="col-md-4">
            <label for="observation" class="form-label">Observation</label>
            <input
              type="text"
              id="observation"
              name="observation"
              placeholder="observation"
              class="form-control"
              [(ngModel)]="plainte.observation"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="status" class="form-label">Status</label>
            <select
              name="status"
              class="form-select"
              id="status"
              [(ngModel)]="plainte.status.statusName"
              required
              #status="ngModel"
            >
              <option *ngFor="let s of statusT">{{ s.statusName }}</option>
            </select>
            <div class="text-danger" *ngIf="status.touched && !status.valid">
              <div *ngIf="status.errors?.required">
                **veuillez choisir le status du plainte
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <label for="classe" class="form-label">Classe</label>
            <select
              name="classe"
              class="form-select"
              id="classe"
              [(ngModel)]="plainte.pClasse.ref"
              required
              #class="ngModel"
            >
              <option *ngFor="let c of clases">{{ c.nom }}</option>
            </select>
            <div class="text-danger" *ngIf="class.touched && !class.valid">
              <div *ngIf="class.errors?.required">
                **veuillez choisir une classe
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <label for="tPlainte" class="form-label">Plainte Depart</label>
            <select
              name="plainte-depart"
              class="form-select"
              id="tPlainte"
              [(ngModel)]="plainte.plainteDepart.ref"
              required
              #plainteDep="ngModel"
            >
              <option *ngFor="let p of plaintesDepart">{{ p.ref }}</option>
            </select>
            <div
              class="text-danger"
              *ngIf="plainteDep.touched && !plainteDep.valid"
            >
              <div *ngIf="plainteDep.errors?.required">
                **veuillez choisir Plainte Depart
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="sourcei" class="form-label">Source</label>
            <input
              list="source"
              id="sourcei"
              name="source"
              class="form-control"
              [(ngModel)]="plainte.source"
              required
              #source="ngModel"
            />
            <datalist id="source">
              <option>source</option>
            </datalist>
            <div class="text-danger" *ngIf="source.touched && !source.valid">
              <div *ngIf="source.errors?.required">
                **veuillez saisir Source
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <label for="type" class="form-label">Theme</label>
            <select
              name="type"
              class="form-select"
              id="type"
              [(ngModel)]="plainte.theme.ref"
              required
              #theme="ngModel"
            >
              <option *ngFor="let t of themes">{{ t.ref }}</option>
            </select>
            <div class="text-danger" *ngIf="theme.touched && !theme.valid">
              <div *ngIf="theme.errors?.required">**veuillez saisir Theme</div>
            </div>
          </div>
          <div class="col-md-4">

          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="visa" class="form-label">Visa</label>
            <select
              name="visa"
              class="form-select"
              id="visa"
              [(ngModel)]="plainte.visa"
            >
              <option name="">v1</option>
              <option>v2</option>
              <option>v3</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="instruction" class="form-label">Instruction</label>
            <select
              name="instruction"
              class="form-select"
              id="instruction"
              [(ngModel)]="plainte.instruction.ref"
              required
              #instruction="ngModel"
            >
              <option *ngFor="let i of instructions">{{ i.nom }}</option>
            </select>
            <div
              class="text-danger"
              *ngIf="instruction.touched && !instruction.valid"
            >
              <div *ngIf="instruction.errors?.required">
                **veuillez saisir Instruction
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <label for="autreIntruction" class="form-label">
              Autre Instruction
            </label>
            <input
              type="text"
              id="autreIntruction"
              name="autreIntruction"
              placeholder="autre intruction"
              class="form-control"
              [(ngModel)]="plainte.ref"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="categorie" class="form-label">Type</label>
            <select
              name="categorie"
              class="form-select"
              id="categorie"
              [(ngModel)]="plainte.type"
            >
              <option value="plainte">Plainte</option>
              <option value="proposition">Proposition</option>
              <option value="remarque">Remarque</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="type" class="form-label">Réponse</label>
            <textarea
              name="reponse"
              class="form-control"
              id="reponse"
              [(ngModel)]="plainte.reponse"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="fichier" class="form-label">Fichier</label><br />
            <input type="file" id="fichier" name="fichier" />
          </div>
        </div>
        <button class="btn btn-primary mt-2" (click)="ajouterPlainte()">
          Ajouter Plainte
        </button>
      </form>
    </div>
  </div>
</div>
