<div class="card">
  <div class="card-header">
    <h1>
      Nombre de Plainte par :
      <select
        name="chart"
        id="chart"
        class="form-select"
        [(ngModel)]="nbrPlaintPar"
        (change)="chartFunction()"
      >
        <option value="status">Status</option>
        <option value="type">Type</option>
        <option value="division">Division</option>
      </select>
    </h1>
  </div>
  <div class="card-body">
    <p-chart type="pie" [data]="data"></p-chart>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4>Liste des plaintes:</h4>
    <div><p>Extraire sous forme:</p></div>
    <div class="col-md-4 text-right">
      <button class="btn btn-success btn-block">Télécharger PDF</button>
    </div>
    <div class="row">
      <div class="col-md-2" id="nbrShow">
        <label>Afficher:</label>
        <select name="nbrShow" class="form-control form-select select">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <span
          ><label>Recherche Par Status Plainte :</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="searchBy"
            (change)="rechercheParNumDordre()"
          />
        </span>
      </div>
    </div>
    <div class="container" id="htmlData" #content>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Numero d'ordre</th>
              <th scope="col">Action</th>
              <th scope="col">Réponse</th>
              <th scope="col">Objet</th>
              <th scope="col">Date</th>
              <th scope="col">Type Plainte</th>
              <th scope="col">Status</th>
              <th scope="col">Dossier</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let r of plaintes">
              <td>{{ r.numeroDOrdre }}</td>

              <td>
                <span><i class="fa btn btn-primary fa-edit mr-2"></i></span>
                <span
                  ><i class="fa btn btn-danger fa-eye fa-remove mr-2"></i
                ></span>
                <span
                  ><i class="fa btn btn-danger fa-trash fa-remove mr-2"></i
                ></span>
              </td>
              <td>
                <span
                  ><i class="fa btn btn-primary btn-success mr-2"
                    >Ajouter Réponse</i
                  ></span
                >
              </td>
              <td>{{ r.objet }}</td>
              <td>{{ r.createdAt }}</td>
              <td>{{ r.type }}</td>
              <td>{{ r.status.statusName }}</td>
              <td>{{ r.dossier.nom }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
