<div class="countainer">
  <div class="row">
    <div class="col-md-6">
      <div class="card" id="first-card">
        <div class="card-header">Les Dernier Plainte</div>
        <table class="table">
          <th>Numero d'ordre</th>
          <th>Date Plainte</th>
          <th>Objet</th>
          <th>Status</th>
          <tr>
            <td>kjkj</td>
            <td>kjh</td>
            <td>jhg</td>
            <td>kjkj</td>
          </tr>
          <tr>
            <td>kjkj</td>
            <td>kjh</td>
            <td>jhg</td>
            <td>kjkj</td>
          </tr>
        </table>
      </div>
      <div class="card">
        <div class="card-header"> Plaintes du jour</div>
        <table class="table">
          <th>Numero d'ordre</th>
          <th>Date Plainte</th>
          <th>Objet</th>
          <th>Status</th>
          <tr>
            <td>kjkj</td>
            <td>kjh</td>
            <td>jhg</td>
            <td>kjkj</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body ">
              <img src="https://image.flaticon.com/icons/png/128/900/900772.png" class="statistic" alt="">
              <h1>2</h1>
              <p>Nombre Total des Plaintes</p>
            </div>
            <div class="card-footer" id="card-footer-1">%Total</div>
          </div>
          <div class="card">
            <div class="card-body">
              <img src="https://image.flaticon.com/icons/png/128/900/900772.png" class="statistic" alt="">
              <h1>2</h1>
              <p>Nombre des Plaintes Enregistrée</p>
            </div>
            <div class="card-footer" id="card-footer-2">%Total</div>
          </div>
          <div class="card">
            <div class="card-body">
              <img src="https://image.flaticon.com/icons/png/128/900/900772.png" class="statistic" alt="">
              <h1>2</h1>
              <p>Nombre des Plaintes Traiteé</p>
            </div>
            <div class="card-footer" id="card-footer-3">%Total</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <img src="https://image.flaticon.com/icons/png/128/900/900772.png" class="statistic" alt="">
              <h1>2</h1>
              <p>Nombre Total des Plaintes Répondue</p>
            </div>
            <div class="card-footer" id="card-footer-4">%Total</div>
          </div>
          <div class="card">
            <div class="card-body">
              <img src="https://image.flaticon.com/icons/png/128/900/900772.png" class="statistic" alt="">
              <h1>2</h1>
              <p>Nombre des Plaintes En Cours</p>
            </div>
            <div class="card-footer" id="card-footer-5">%Total</div>
          </div>
          <div class="card">
            <div class="card-body">
              <img src="https://image.flaticon.com/icons/png/128/900/900772.png" class="statistic" alt="">
              <h1>2</h1>
              <p>Nombre Total des Dossiers</p>
            </div>
            <div class="card-footer" id="card-footer-6">%Total</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

