<div class="container-fluid">
  <div
    class="d-flex"
    id="wrapper"
    [ngClass]="{
      toggled: !message
    }"
  >
    <div id="sidebar-wrapper">
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action side__label"
        ><span> Plainte</span></a
        >
        <a routerLink="dashboard-visite" class="list-group-item list-group-item-action">
          <span><i class="fa fa-home"></i></span> Dashboard</a
        >
        <a routerLink="ajouter-visite" class="list-group-item list-group-item-action"
        ><span><i class="fa fa-plus-square"></i></span> Ajouter Plainte</a
        >
        <a routerLink="recherche-visite" class="list-group-item list-group-item-action"
        ><span><i class="fa fa-search"></i></span> Recherche</a
        >
        <a routerLink="statistiques-visite" class="list-group-item list-group-item-action"
        ><span><i class="fa fa-bar-chart"></i></span> Statistiques</a
        >
        <a
          routerLink="notification-visite"
          class="
            list-group-item list-group-item-action
            d-flex
            justify-content-between
            align-items-center
          "
        ><span><i class="fa fa-bell"></i> Notifications</span>
          <span class="badge badge-warning badge-pill">14</span></a
        >
      </div>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
