body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

.sidebar-heading {
  padding: 0rem 5rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

.list-group {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.085), 0 1px 8px rgba(0, 0, 0, 0.1),
  inset 0 1px 0 rgba(255, 255, 255, 0.2);
  padding-bottom: 320px;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (max-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }

  .sidebar-heading {
    display: none;
  }
}

.nav__item--account img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.side__label span {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.65em;
  color: hsla(0, 0%, 0%, 0.4);
  letter-spacing: 0.1em;
}

.side__label:hover {
  background-color: #fff;
}

.list-group-item {
  border: none;
}

#menu-toggle {
  border: none;
}
#menu-toggle:hover,
#menu-toggle:focus {
  background-color: #ffc107;
  box-shadow: none;
}
.container-fluid {
  padding: 0;
}
.navbar {
  padding: 0.525rem 1rem;
}
.navbar-nav {
  margin-left: auto;
}
