body {
  overflow-x: hidden;
}

.sidebar-heading {
  padding: 0rem 5rem;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .sidebar-heading {
    display: none;
  }
}

.nav__item--account img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

#menu-toggle {
  border: none;
}

#menu-toggle:hover,
#menu-toggle:focus {
  background-color: #ffc107;
  box-shadow: none;
}

.navbar {
  padding: 0.525rem 1rem;
}

.navbar-nav {
  margin-left: auto;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}
