<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
  <div class="sidebar-heading bg-warning" *ngIf="isLoggedInf()">
    <img src="../../assets/images/logo_chichaoua.png" alt="Logo" />
  </div>
  <button
    class="btn btn-sm btn-warning"
    id="menu-toggle"
    (click)="switchMenu()"
    *ngIf="isLoggedInf()"
  >
    <i
      class="fa fa-toggle-on"
      [ngClass]="{
        'fa-toggle-on': showSidebar,
        'fa-toggle-off': !showSidebar
      }"
    >
    </i>
  </button>
  <button
    class="navbar-toggler"
    [ngClass]="{ collapsed: showNavbarToogle }"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    attr.aria-expanded="{{ showNavbarToogle }}"
    aria-label="Toggle navigation"
    (click)="toogleNavbar()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    [ngClass]="{ show: showNavbarToogle }"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active" *ngIf="isLoggedInf()">
        <a class="nav-link" routerLink="/welcome"
        >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item" *ngIf="isLoggedInf()">
        <a class="nav-link" routerLink="/visite">Visites</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedInf()">
        <a class="nav-link" routerLink="/plainte">Plaintes</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedInf()">
        <a class="nav-link" routerLink="/contieux">Contieux</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedInf()">
        <a class="nav-link" routerLink="/taches">Taches</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedInf()">
        <a class="nav-link" routerLink="/reunion">Reunion</a>
      </li>
      <li
        class="nav-item dropdown nav__item--account"
        [ngClass]="{ show: showDropdown }"
        *ngIf="isLoggedInf()"
        (click)="toogleDropdown()"
      >
        <a
          class="nav-link"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          attr.aria-expanded="{{ showDropdown }}"
        >
          <img src="../../assets/images/cd-avatar.svg" />
          <span class="ml-2"> {{ getUser().username }}</span>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          [ngClass]="{ show: showDropdown }"
          aria-labelledby="navbarDropdown"
        >
          <a class="dropdown-item" href="#"
          ><span><i class="fa fa-user"></i></span> Profile</a
          >
          <a class="dropdown-item" href="#"
          ><span><i class="fa fa-cog"></i></span> Settings</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" (click)="signOut()"
          ><span><i class="fa fa-sign-out"></i></span> Logout</a
          >
        </div>
      </li>
      <li class="nav-item" *ngIf="!isLoggedInf()">
        <a routerLink="login" class="nav-link">Login</a>
      </li>
    </ul>
  </div>
</nav>
