<div class="container">
  <div class="row mgt">
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats" routerLink="/visite">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="material-icons">home</i>
          </div>
          <p class="card-category"></p>
          <h3 class="card-title" >Visites</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">local_offer</i> Visites
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats" routerLink="/plainte">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
            <i class="material-icons">info_outline</i>
          </div>
          <p class="card-category"></p>
          <h3 class="card-title" >Plaintes</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">local_offer</i> Plaintes
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats"  routerLink="/contieux">
        <div class="card-header card-header-danger card-header-icon">
          <div class="card-icon">
            <i class="material-icons">account_balance</i>
          </div>
          <p class="card-category"></p>
          <h3 class="card-title">Contentieux</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">local_offer</i> Contentieux
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats" routerLink="/taches">
        <div class="card-header card-header-info card-header-icon">
          <div class="card-icon">
            <i class="material-icons">task_alt</i>
          </div>
          <p class="card-category"></p>
          <h3 class="card-title" >Taches</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">local_offer</i> Taches
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6" routerLink="/reunion">
      <div class="card card-stats">
        <div class="card-header card-header-Violet card-header-icon">
          <div class="card-icon">
            <i class="material-icons">meeting_room</i>
          </div>
          <p class="card-category"></p>
          <h3 class="card-title"  >Reunions</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">local_offer</i> Reunions
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-SlateBlue card-header-icon">
          <div class="card-icon">
            <i class="material-icons">admin_panel_settings</i>
          </div>
          <p class="card-category"></p>
          <h3 class="card-title">Espace Admin</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">local_offer</i> Espace Admin
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
