<div class="countainer mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="material-icons">content_copy</i>
          </div>
          <p class="card-category">Total des Plaintes</p>
          <h3 class="card-title">{{ nbr }}</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">date_range</i> Last 24 Hours
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-stats">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
            <i class="material-icons">check</i>
          </div>
          <p class="card-category">Plaintes Traiteé</p>
          <h3 class="card-title">{{ nbrTraitee }}</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">local_offer</i> Tracked from Github
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-stats">
        <div class="card-header card-header-danger card-header-icon">
          <div class="card-icon">
            <i class="material-icons">sync</i>
          </div>
          <p class="card-category">Plaintes En Cours</p>
          <h3 class="card-title">{{ nbrEnCours }}</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">warning</i>
            Plaintes a repondu...
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-stats">
        <div class="card-header card-header-info card-header-icon">
          <div class="card-icon">
            <i class="material-icons">folder</i>
          </div>
          <p class="card-category">Total des Dossiers</p>
          <h3 class="card-title">{{ nbrDossier }}</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">update</i> Just Updated
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-stats">
        <div class="card-header card-header-Violet card-header-icon">
          <div class="card-icon">
            <i class="material-icons">replay</i>
          </div>
          <p class="card-category">Total des Plaintes Répondue</p>
          <h3 class="card-title">6</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">update</i> Just Updated
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-stats">
        <div class="card-header card-header-SlateBlue card-header-icon">
          <div class="card-icon">
            <i class="material-icons">bookmark</i>
          </div>
          <p class="card-category">Plaintes Enregistrée</p>
          <h3 class="card-title">4</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">update</i> Just Updated
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card" id="first-card">
        <div><h4>Les Dernier Plainte</h4></div>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Numero d'ordre</th>
                <th>Date Plainte</th>
                <th>Objet</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of plaintes">
                <td>{{ p.numeroDOrdre }}</td>
                <td>{{ p.datePlainte }}</td>
                <td>{{ p.dossier.nom }}</td>
                <td>{{ p.status.statusName }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
